- @group.messages.each do |message|
  .message-written
    .message-user
      =message.user.name
    .message-time
      =message.created_at
    .message-text
      =message.body
    .message-image
      - if message.image.url
        =image_tag message.image.url(:thumb)
