.chat
  .chat__user
    %p あああああ
    %i.fa.fa-cog
    %i.fa.fa-edit
  .chat__group-members
    %p Sampleグループ
    .edit-button Edit
    .group-members ああ
  .chat__group-name
    .user-name ああ
    .user-image ああ
  .chat__message--written
    .message-user ryosuke maehira
    .message-time ああ
    .message なるほど
  .chat__message--write
    .message-type ああ
    .send-button
      %p Send
    %i.fa.fa-photo
