.chat
  .layout-notice チャットグループが作成されました
  .chat-side
    .chat__user
      %p あああああ
      %i.fa.fa-cog.icon-cog
      %i.fa.fa-edit.icon-edit
    .chat__group-name
      .user-name ああ
      .user-image ああ
  .chat-main
    .chat-header
      .chat-header--left
        %p Sampleグループ
        .group-members ああ
      .chat-header--right
        .chat-header__edit-btn Edit
    .chat__message--written
      - @messages.each do |message|
        .message-user
          =message.user.name
        .message-time
          =message.created_at
        .message-text
          =message.body
    .chat__message--write
      = form_for @message do |f|
        .message-body
          = f.text_field :body, placeholder: "type a message", class: "message-type"
          %i.fa.fa-photo.icon-photo
        = f.submit "Send", class: "send-button"
